header {
  background-color: rgb(245, 224, 224);
  justify-items: center;
}

main {
  height: 2000px;
  width: 100%;
  background-color: rgb(205, 223, 175);
}

.check-box {
  width: 200px;
}

.show-task {
  margin: 20px auto;
  width: 90%;
  height: 400px;
  background-color: white;
}