* {
  margin: 0;
  padding: 0;
}

header {
  background-color: beige;
  height: 20vh;
  /* vh는 뷰포트(사용자 기기화면)을 기준으로 크기가 정해진다)
  20vh 사용자 화면의 20%를 의미한다 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

nav {
  /* border: 1px solid black; */
  background-color: cadetblue;
  height: 25%;
  padding: 0;
  float: bottom;
}

nav ul {
  margin: 0;
  padding: 0;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}

nav li {
  width: 80px;
  padding: 0 0 0 10px;
}

li {
  /* margin: 10px; */
  list-style-type: none;
}

main {
  background-color: tomato;
  height: 60vh;
}

footer {
  background-color: grey;
  height: 20vh;
}

.nav--login {
  cursor: pointer;
}

/* 모달창 */
.modal-box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: gray;
  align-items: center;
  justify-content: center;
}


.login-box {
  padding: 30px;
  width: 300px;
  height: 180px;
  background-color: white;
  /* line-height: auto; */
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.x-box {
  float: right;
  font-size: 20px;

}

.x-box:hover,
.x-box:focus {
  color: black;
  cursor: pointer;
  font-weight: bold;
  top:10px;
  right:10px;
  cursor: pointer;
}
